@import url('https://fonts.googleapis.com/css?family=Nunito');


@import 'bootstrap';

@import '@fortawesome/fontawesome-free';
.card-header {
    font-size: 24px;
    font-weight: bold;
}

.card-body {
    font-size: 18px;
    line-height: 1.5;
}

@media (max-width: 576px) {
    .card-header {
        font-size: 20px;
    }
    .card-body {
        font-size: 16px;
    }
}
